/*seteando css*/

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #303030;
  font-family: 'Raleway', sans-serif;
}

/*clases reutilizables*/

.text-uppercase {
  text-transform: uppercase;
}
