/*seteando css*/

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #303030;
  font-family: 'Raleway', sans-serif;
}

/*clases reutilizables*/

.text-uppercase {
  text-transform: uppercase;
}

/*clases especificas*/

li a {
  color: inherit;  
  text-decoration: none;
}

ul li {
  list-style: none;
  display: inline;
  margin: 5px;
}

.logo-header {
  width: 60%;
}

header {
  position: relative;
}

nav {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}


.box-header {
  display: inline-block;
}